<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div style="margin: 100px; background-color: bisque; width: 300px; height: 200px; padding: 10px 30px; border-style: solid; border-radius: 10px;"> 
            <h1>Cadastrar</h1>
        <form action="/servicos" method="post">
        <label for="">valor:</label>
        <input class="campo" type="text" name="nome">
        <br/>
        <label for="">Nome:</label>
        <input class="campo" type="text" name="valor">
        <br/>
        <button class="botao" type="submit">Enviar</button>
        </form>
    </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>