<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main>
                <div style="margin: 50px;">
                    <form action="/servicos" method="post">
                        <label for="">Nome:</label>
                        <input type="text" name="nome">
                        <br>
                        <label for="">Valor:</label>
                        <input type="text" name="valor">
                        <br>
                        <button type="submit">Salvar</button>
                    </form>

                </div>

            </main>
            <%- include('./partials/footer') %>
    </body>

</html>